*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}


.demo-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.demo-title{
  margin: 32px 0px;
}

.demo-container-imageGallery {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}